<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>ReasyJS</title>
        <base href='.'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body ng-app='app.module'>
        <h1>ReasyJS</h1>
        <div ui-view></div>
    </body>
</html>